# Node modules
node_modules/

# Build output
dist-electron/
resources/ffmpeg/win/ffmpeg.exe
resources/python-dist
python/build
dist/
out/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Test videos (optional - if you don't want to commit large videos)
*.mp4
*.mkv
*.avi
*.mov
*.webm